<ul class="list-group">
  <li
    ng-repeat="item in list.items"
    class="list-group-item clearfix"
    >

    <span class="pull-left button-group" style="margin-right:10px">
    <button class="btn btn-primary" ng-click="list.onRemove({index: $index})">Don't want this one!</button>
    </span>
    <span class="emphasize">&nbsp;({{item.short_name}}) {{item.name}}</span> - {{item.description}}</span>
  </li>
</ul>
<div ng-show="list.working" class="text-center"><img src="images/gears.svg"></div>
<div ng-show="list.error"class="error fadeEffect">
Error obtaining data!
</div>
<div ng-show="list.nothingFound" class="message text-center">
Nothing found!
</div>
