<ul class="list-group">
  <li
    ng-repeat="item in list.items"
    class="list-group-item"
    >
    <button class="btn btn-primary" ng-click="list.onRemove({index: $index})">Don't want this one!</button>
    &nbsp;
    <span class="emphasize">{{item.name}}</span> - {{item.description}}
  </li>
</ul>
<div ng-show="list.working" class="text-center"><img src="images/gears.svg"></div>
<div ng-show="list.error"class="error fadeEffect">
Error obtaining data!
</div>
<div ng-show="list.nothingFound" class="message text-center">
Nothing found!
</div>
