body {
  background-color: #ffffff;
}

.header {
  background-color: #eeeeee;
}


.logo {
  width: 160px;
  margin-right:40px;
}

.krusty {
  font-family: 'Holtwood One SC', serif;
  color: #FE4D23;
}

.krustyCaption {
  font-size: 150%;
}

.krustyDescription {
  color: #0077ff;
}

.header h1 {
    margin: 0;
    padding: 10px;
    font-size: 4em;
    white-space: nowrap;
}

.listTitle {
  margin-bottom: 1em;
  font-size: 3em;
}


.thumbnail {
  background-color: #efefef;
}

/* spinner */
.loader {
    position: fixed;
    z-index: 999;
    border: 16px solid #FE4D23;
    border-top: 16px solid #FCA997;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
}
