body {
  background-color: #ffffff;
}

.header {
  background-color: #eeeeee;
}


.logo {
  width: 160px;
  margin-right:40px;
}

.krusty {
  font-family: 'Holtwood One SC', serif;
  color: #FE4D23;
}

.header h1 {
    margin: 0;
    padding: 10px;
    font-size: 4em;
    white-space: nowrap;
}

.listTitle {
  margin-bottom: 1em;
  font-size: 3em;
}


.thumbnail {
  background-color: #efefef;
}
